body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#footer button {
  margin: 3px;
  background-color: #0684bd;
  color: #FFFFFF;
  line-height: 32px;
  text-align: center;
  border-radius: 100px;
  border: solid 1px rgba(6, 132, 189, 0.4);
  cursor: pointer;
  text-overflow: ellipsis;
  outline: none;
  font-size: 13px;
  width: 100%;
  max-width: 350px;
}
#footer button:hover, #footer button:active, #footer button:focus  {
  outline: none;
  opacity: 0.8;
}
